<div class="profil">
    <ul class="list-group">
      <li class="list-group-item d-flex flex-column">
        <div>Nom d'utilisateur: </div>
        <input type="text" class="form-control bg-light w-50 mt-3 mx-auto" [(ngModel)]="username" />
      </li>

      <li class="list-group-item d-flex flex-column">
        <div>Adresse Mail: </div>
        <input type="text" class="form-control bg-light w-50 mt-3 mx-auto" [(ngModel)]="email" />
      </li>

      <li class="list-group-item d-flex flex-column">
        <div>Fond d'écran: </div>
        <input type="text" class="form-control bg-light w-50 mt-3 mx-auto" [(ngModel)]="wallpaper" />
      </li>
    </ul>
    <button type="button" class="btn btn-success mt-3" (click)="saveChanges()">Sauvegarder</button>
    <div class="saveEffect" *ngIf="isNewSave === 'true'">Changements sauvegardés</div>
  </div>
