.checkList {
    text-align: center;
}
.test {
    width: 25vw;
    height: 25vh;
    overflow: auto;
}

.barMenuFirstPart {
  position: relative;
}

.barMenuSecondPart {
  position: relative;
}

.barMenu {
  display: inline-flex;
}
