#profilButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

#username {
  display: inline-block;
}

#calculor {
  width: 378px;
  position: absolute;
  top : 10px;
  left: 120px;
}

#clock {
  width: 100px;
  position: absolute;
  top : 10px;
  left: 10px;
}

#disconnect, #profile {
  cursor: pointer;
}
