#profilButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

#profilButton .first{
  width: 75px;
}

#agenda{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#note{
  width: 1000px;

}